{% extends "base.html" %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm" style="max-width: 500px; margin: auto; background-color: #fffaf3; border-radius: 10px;">
        <div class="card-body text-center">
            <h4 class="mb-3">Письмо отправлено</h4>
            <p class="text-muted">Мы отправили вам инструкции по сбросу пароля на указанный email.</p>
            <p class="text-muted">Вы должны получить их в ближайшее время.</p>
            <a href="{% url 'login' %}" class="btn btn-buy mt-3">Перейти к входу</a>
        </div>
    </div>
</div>
{% endblock %}