{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm" style="max-width: 500px; margin: auto; background-color: #fffaf3; border-radius: 10px;">
        <div class="card-body text-center">
            <h2 class="mb-3">Сброс пароля</h2>
            <p class="text-muted">Введите ваш email для получения инструкций по сбросу пароля.</p>
            <form method="post" class="mt-3">
                {% csrf_token %}
                  {{ form.as_p }}
                <button type="submit" class="btn btn-buy w-100">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
