{% extends "base.html" %}

{% block title %}Установка нового пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4 shadow-sm" style="max-width: 500px; margin: auto; background-color: #fffaf3; border-radius: 10px;">
        <div class="card-body text-center">
            <h2 class="mb-3">Установка нового пароля</h2>
            {% if validlink %}
                <form method="post" class="mt-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            {% else %}
                <p class="text-danger">Ссылка для сброса пароля недействительна. Возможно, она уже была использована или устарела.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
